body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: rgba(11, 19, 42, 1);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(79, 86, 101, 1);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.avatar {
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
}

.avatar-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.18;
}

.menu-text {
  font-weight: 700;
  font-size: 20px;
  color: #0b132a;
  line-height: 1.18;
}

/* section-quote */

.section.quote {
  background-color: #e5e5e5;
}

.quote .container {
  align-items: flex-start;
}

.quote .list {
  padding: 30px;
  width: calc(100% / 2);
}

.quote-text {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
}

.quote-author {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(79, 86, 101, 1);
}

.img {
  width: calc(100% / 2);
}

@media screen and (max-width: 1199px) {
  .quote .list {
    padding: 20px;
  }

  .quote-text {
    font-size: 20px;
  }

  .quote-author {
    font-size: 15px;
  }
}

@media screen and (max-width: 680px) {
  .img {
    display: none;
  }

  .quote-text {
    font-size: 15px;
  }

  .quote-author {
    font-size: 10px;
  }
}

/* section home-work */

.container.home-work {
  align-items: inherit;
}

.home-work .list {
  padding: 40px 70px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.list-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.item-img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

/* page home-work */

.section.tasks {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tasks .list {
  margin: 15px;
  width: calc((100% - 6 * 15px) / 3);
}

.work-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.tasks .item-img {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(47, 171, 115, 1);
  border-radius: 50%;
}

.tasks .item {
  align-items: baseline;
}

.link.home-work {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  color: #4f5665;
}

.button {
  display: inline-block;
  margin: 20px;
  padding: 6px 15px;
  font-size: 16px;
  border-color: transparent;
  color: #ffffff;
  background-color: rgba(245, 56, 56, 1);
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: rgba(245, 56, 56, 1);
  background-color: #ffffff;
  border: 1px solid rgba(245, 56, 56, 1);
}

@media screen and (max-width: 1199px) {
  .container.home-work {
    flex-wrap: wrap;
  }

  .home-work .list {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 780px) {
  .work-img {
    display: none;
  }

  .link.home-work {
    font-size: 12px;
    line-height: 1.16;
  }
}

/* footer */

footer {
  padding: 20px;
  background: #f8f8f8;
}

.footer {
  margin-bottom: 20px;
}

.footer .list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: rgba(245, 56, 56, 1);
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
  color: #ffffff;
  background-color: rgba(245, 56, 56, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.social-icon {
  fill: currentColor;
}

.footer .item {
  margin: 0;
  margin-right: 10px;
}

.foot-link .social .item:nth-child(4n) {
  margin-right: 0;
}

.foot-link .link {
  color: #ffffff;
}

.foot-link .link:hover,
.foot-link .link:focus {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  color: #afb5c0;
}

.link:hover,
.link:focus {
  color: rgba(245, 56, 56, 1);
}
