.basket {
  background-image: linear-gradient(
      to right,
      rgba(158, 158, 133, 0.5),
      rgba(248, 248, 248, 0.5)
    ),
    url('../img/hero/objects-4.jpg');
}

.section-basket {
  text-align: center;

  .flex-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  img {
    width: 150px;
    height: 150px;
    @extend %border-radius;
  }

  .desc {
    margin-left: 20px;
  }

  .title {
    text-align: left;
    margin-bottom: 10px;
  }

  .text {
    margin-bottom: 15px;
    text-align: left;
  }

  .text.lorem {
    display: none;
  }

  .input {
    width: 60px;
  }

  .total-container {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 350px) {
    .flex-container-two {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
    }
    .text.lorem {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    .input {
      width: 60px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}
