body {
  font-family: 'Poppins', sans-serif;
  background-color: $primary-bg-color;
  color: $black-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-right: 8px;
  padding: 7px;
  border: 1px solid black;
  @extend %border-radius;
  font-weight: 700;
  font-size: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.text {
  margin-bottom: 20px;
}

.button {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: $white-text-color;
  background-color: $hover-color;
  @extend %border-radius;
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-block {
  display: inline-block;
  padding: 10px;
  background-color: $primary-bg-color;
  @extend %border-radius;
}

/* navigation */
.header-overlay {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 40px 30px;
  background-color: $primary-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(248, 248, 248, 0.5),
      rgba(248, 248, 248, 0.5)
    ),
    url('../img/hero/objects-2.jpg');

  .link:hover {
    color: $white-text-color;
  }

  .flex-container {
    @include flex-mix(flex, center, space-between);
    margin-bottom: 40px;
  }

  .list {
    @include flex-mix(flex, center, space-between);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  .item:not(:last-child) {
    margin-right: 10px;
  }

  .busket-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
  }

  .title {
    font-weight: 700;
    font-size: 22px;
  }

  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
  }

  .about {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .logo {
      font-weight: 900;
      font-size: 24px;
      margin: 0;
    }
  }
}

/* popular */
.popular {
  text-align: center;

  .title {
    text-transform: uppercase;
  }

  .shop-img {
    display: block;
    width: 250px;
    height: auto;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -15;
  }

  .item {
    margin: 15px;
    border: 1px solid #b0855b;
    border-radius: 60px 0px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.05, 1.05);
      transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .link {
    overflow: hidden;
  }
}

/* subscribe */
.subscribe {
  background-color: $white-text-color;
  text-align: center;

  .button {
    border: 0 transparent;
  }

  .subscribe-input {
    height: 36px;
    padding: 4px 8px;
    @extend %border-radius;
    border: 1px solid rgba(129, 128, 128, 0.3);
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

/* process */

.process {
  text-align: center;

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-stack {
    width: 60%;
    border-radius: 140px 0px;
  }
}

/* customers */

.customers {
  .text {
    display: block;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -15px;
  }

  .item {
    width: 45%;
    margin: 15px;
    padding: 30px;
    background-color: $customers-bg-color;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .text-name {
    margin-right: 20px;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.16;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

/* footer */

footer {
  padding: 40px;
  background-color: $footer-bg-color;

  .logo {
    margin-bottom: 30px;
  }

  address {
    font-style: normal;
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.14;
    color: $white-text-color;
  }

  .flex-container {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    margin-bottom: 40px;
  }

  .title {
    text-align: center;
  }
}

.footer {
  margin-bottom: 20px;

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item {
    margin: 0;
    margin-right: 10px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: 536643;
    background-color: $white-text-color;
    color: $black-text-color;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $white-text-color;
      background-color: $hover-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
}

.social-icon {
  fill: currentColor;
}
