/* header */
.header-overlay {
  margin-left: auto;
  margin-right: auto;
  padding: 200px 30px 40px 30px;
  background-color: $primary-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(248, 248, 248, 0.5),
      rgba(180, 169, 169, 0.5)
    ),
    url('../img/hero/objects-2.jpg');

  .about {
    text-align: center;
  }

  .title {
    font-weight: 700;
    font-size: 22px;
  }

  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
  }
}

/* popular */
.popular {
  text-align: center;

  .title {
    text-transform: uppercase;
  }

  .shop-img {
    display: block;
    width: 250px;
    height: auto;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -15;
  }

  .item {
    margin: 15px;
    border: 1px solid #b0855b;
    border-radius: 60px 0px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.05, 1.05);
      transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .link {
    overflow: hidden;
  }
}

/* subscribe */
.subscribe {
  background-color: $white-text-color;
  text-align: center;
}

/* process */

.process {
  background-color: #87898c;
  color: $white-text-color;
  text-align: center;

  .text {
    margin-right: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card-stack {
    width: 60%;
    border-radius: 140px 0px;
    border: 3px solid #bbc9dd;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.14);
  }
}

/* customers */

.customers {
  .text {
    display: block;
  }

  .list {
    margin: -15px;
  }

  .item {
    text-align: center;
    margin: 15px;
    padding: 30px;
    background-color: $customers-bg-color;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .text-name {
    margin-right: 20px;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.16;
  }

  img {
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: 768px) {
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .item {
      width: 45%;
      margin: 15px;
      padding: 30px;
      background-color: $customers-bg-color;
    }
  }
}

/* footer */

footer {
  background-color: $footer-bg-color;
}

.footer {
  margin-bottom: 20px;

  /* social-icon */
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item:not(:last-child) {
    margin: 0;
    margin-right: 10px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: 536643;
    background-color: $white-text-color;
    color: $black-text-color;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $white-text-color;
      background-color: $hover-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }

  .social-icon {
    fill: currentColor;
  }
}
