.header-overlay {
  &.shop {
    background-image: linear-gradient(
        to right,
        rgba(248, 248, 248, 0.5),
        rgba(248, 248, 248, 0.5)
      ),
      url('../img/hero/objects-6.jpg');
  }
}

.shop {
  .shop-img {
    width: 250px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .item {
    margin-bottom: 30px;
  }
}
