section div {
  display: list-item;
  list-style-type: upper-alpha;
}

div div {
  list-style: none;
}
.block {
  display: block;
}
/* .inline {
  display: inline;
} */
.inline-block {
  display: inline-block;
}
